<div>
  <div class="row pt-5 m-0">
    <div class="col-4">
      <img (click)="navigateToClips('riven')" (mouseenter)="enterImage(1)" (mouseleave)="leaveImage(1)" class="zoom"
        src={{rivenImg}}>
    </div>
    <div class="col-4">
      <img class="cursorHover" (click)="navigateToClips('irelia')" (mouseenter)="enterImage(3)" (mouseleave)="leaveImage(3)" class="zoom"
        src={{ireliaImg}}>
    </div>
    <div class="col-4">
      <img class="cursorHover" (click)="navigateToClips('yasuo')" (mouseenter)="enterImage(2)" (mouseleave)="leaveImage(2)" class="zoom"
        src="{{yasuoImg}}">
    </div>
  </div>
  <div class="logo-container">
    <img class="logo" src="{{mavuinLogo}}">
  </div>
</div>