img {
  width: 100%;
}

.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .logo {
    width: 350px;
  }
}
